<div class="toolbar left">
    <% if(lang=="ru") { %> <a href="/en?admin=true"><img style="height: 1rem;" src="/svg/en.svg"></a> <% } %>
    <% if(lang=="en") { %> <a href="/ru?admin=true"><img style="height: 1rem;" src="/svg/ru.svg"></a> <% } %>
    <a href="/profile"><img src="<%= url %>/svg/resume.svg">Основное</a>
    <a href="/myproducts"><img src="<%= url %>/svg/woman.svg">Мастера</a>
    <a href="/myservices"><img src="<%= url %>/svg/support.svg">Услуги</a>
    <a href="/myapparts"><img src="<%= url %>/svg/window.svg">Интерьер</a>
    <a href="/mydeals"><img src="<%= url %>/svg/discount.svg">Акции</a>
    <a href="/mytexts"><img src="<%= url %>/svg/love-letter.svg">Текста</a>
    <a href="/logout"><img src="<%= url %>/svg/logout.svg">Выйти</a>
</div>