<div class="toolbar left">
    <% if (status && status == 9) { %> <a href="/admin"><img src="<%= url %>/svg/crown.svg">Админ панель</a> <% } %>
    <a href="/profile"><img src="<%= url %>/svg/resume.svg">Основное</a>
    <a href="/myproducts"><img src="<%= url %>/svg/woman.svg">Мастера</a>
    <a href="/myservices"><img src="<%= url %>/svg/support.svg">Услуги</a>
    <a href="/myapparts"><img src="<%= url %>/svg/window.svg">Интерьер</a>
    <a href="/mydeals"><img src="<%= url %>/svg/discount.svg">Акции</a>
    <a href="/mytexts"><img src="<%= url %>/svg/love-letter.svg">Текста</a>
    <a href="/logout"><img src="<%= url %>/svg/logout.svg">Выйти</a>
</div>