<div class="toolbar left">
    <% if (status && status == 9) { %> <a href="/admin"><img src="<%= url %>/svg/crown.svg">Админ панель</a> <% } %>
    <a href="/profile"><img src="<%= url %>/svg/profile.svg">Основное</a>
    <a href="/myproducts"><img src="<%= url %>/svg/package.svg">Девочки</a>
    <a href="/favs"><img src="<%= url %>/svg/heart.svg">Избранное</a>
    <a href="/logout"><img src="<%= url %>/svg/logout.svg">Выйти</a>
</div>