<html>
<head>
    <title><%= title %> - Главная</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/resp.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
</head>
<body>
    <div id="overlay">
        <div>
            <a href="https://api.whatsapp.com/send?phone=<%= profile.phone.replace('+','').replace(' ',''); %>"><img src="/svg/wp.svg"></a>
            <a ><img src="/svg/tg.svg"></a>
            <a href="viber://add?number=<%= profile.phone %>"><img src="/svg/viber.svg"</a>
            <a href="tel:<%= profile.phone %>"><img src="/svg/phone.svg"></a>
        </div>
    </div>
    
    <div class="wrap fixed" id="blackout">
        <div class="topmenu">
            <div class="brand"><a href="#hero"><%= title %></a></div>
            <div class="menu">
                <a href="#girls"><%= girlsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');%></a>
                <a href="#services"><%= serviceTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
                <a href="#interior"><%= appartsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
                <a href="#about"><%= aboutTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
                <a href="#offers"><%= dealsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
                <a href="#contacts"><%= contactsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
                <% if(lang=="ru") { %> <a href="/en"><img style="height: 1rem;" src="/svg/en.svg"></a> <% } %>
                <% if(lang=="en") { %> <a href="/ru"><img style="height: 1rem;" src="/svg/ru.svg"></a> <% } %>
            </div>
            <div class="yummy">
                <div id="menu-toggle">
                    <div id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div id="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay">
        <div style="display: flex; flex-direction: column;">
            <a href="#girls" onclick="yummy();"><%= girlsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
            <a href="#services" onclick="yummy();"><%= serviceTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
            <a href="#interior" onclick="yummy();"><%= appartsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
            <a href="#about" onclick="yummy();"><%= aboutTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
            <a href="#offers" onclick="yummy();"><%= dealsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
            <a href="#contacts" onclick="yummy();"><%= contactsTitle.replace(new RegExp('наши', "ig"), '').replace(new RegExp('наш', "ig"), '').replace(new RegExp('Our', "ig"), '');  %></a>
            <% if(lang=="ru") { %> <a href="/en"><img style="height: 1rem;" src="/svg/en.svg"></a> <% } %>
            <% if(lang=="en") { %> <a href="/ru"><img style="height: 1rem;" src="/svg/ru.svg"></a> <% } %>
        </div>
    </div>

    <div class="hero section" id="hero">
        <div class="wrap">
            <div>
                <h1 class="gold"><%= profile.desc %></h1>
                <h3><%= profile.subdesc %></h3>
                <% if (lang=="ru") { %> <a href="#contacts" class="btn">круто! куда подъехать?</a> <% } %>
                <% if (lang=="en") { %> <a href="#contacts" class="btn">Awesome! Where to find you?</a> <% } %>
            </div>
        </div>
        <div class="anchor">
            <a href="#girls"><img src="svg/anchor.svg"></a>
        </div>
    </div>

    <div class="girls section" id="girls">
        <div class="wrap">
            <div>
                <h2 class="gold"><%= profile.girlsTitle %></h2>
                <h3><%= profile.girlsSub %></h3>
                <div class="girlsGrid">
                    <% girls.forEach(function(girl){ %>
                        <div>
                            <img src="<%= girl.image[0] %>">
                            <p class="name gold"><%= girl.name %></p>
                            <% if (lang=="ru") { %> <p class="name desc">Грудь <%= girl.boobs %>, Рост <%= girl.height %>, Вес <%= girl.weight %> </p> <% } %>
                            <% if (lang=="en") { %> <p class="name desc">Boobs <%= girl.boobs %>, Height <%= girl.height %>, Weight <%= girl.weight %> </p> <% } %>
                            <div class="buttonRow">
                                <% if (lang=="ru") { %> <a href="#contacts" class="btn">Записаться</a> <% } %>
                                <% if (lang=="en") { %> <a href="#contacts" class="btn">Visit</a> <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <% if (lang=="ru") { %> <a href="/girls" class="btn show">Показать всех</a> <% } %>
                <% if (lang=="en") { %> <a href="/girls" class="btn show">Show All</a> <% } %>
            </div>
        </div>
    </div>

    <div class="service section" id="services">
        <div class="wrap">
            <div>
                <h2 class="gold"><%= profile.serviceTitle %></h2>
                <h3><%= profile.serviceSub %></h3>
                <div class="programs">
                    <% var i = 0; services.forEach(function(service){ %>
                        <% if (i%2 != 0) { %>
                            <div style="clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%); background: url(<%= service.image[0] %>) center/cover no-repeat;">
                        <% } else { %>
                            <div style="clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); background: url(<%= service.image[0] %>) center/cover no-repeat; left: 15rem;">
                        <% } %>
                            <h4 class="gold"><%= service.name %></h4>
                            <p><%- service.desc %></p>
                        </div>
                    <% i++; }); %>
                </div>
                <% if (lang=="ru") { %> <a href="/services" class="btn show">Показать все</a> <% } %>
                <% if (lang=="en") { %> <a href="/services" class="btn show">Show All</a> <% } %>
            </div>
        </div>
    </div>

    <div class="apps section" id="interior">
        <div class="wrap">
            <div>
                <h2 class="gold"><%= profile.appartsTitle %></h2>
                <h3><%= profile.appartsSub %></h3>
                <div class="appsGrid">
                    <% var i = 0; apparts.forEach(function(app){ %>
                        <% if(i%2 != 0) { %> <div> <% } else { %> <div class="revers"> <% } %>
                            <% if(i%2 != 0) { %> <img src="<%= app.image[0] %>"> <% } %>
                        <% if(i%2 != 0) { %> <div> <% } else { %> <div class="reverse"> <% } %>
                                <h4 class="gold">Комната "<%= app.name %>"</h4>
                                <p><%= app.desc %></p>
                                <% if (lang=="ru") { %> <a href="#contacts" class="btn">Посетить</a> <% } %>
                                <% if (lang=="en") { %> <a href="#contacts" class="btn">Visit</a> <% } %>
                            </div>
                            <% if(i%2 == 0) { %> <img src="<%= app.image[0] %>"> <% } %>
                        </div>
                    <% i++; }); %>
                </div>
                <% if (lang=="ru") { %> <a href="/services" class="btn show">Показать все</a> <% } %>
                <% if (lang=="en") { %> <a href="/services" class="btn show">Show All</a> <% } %>
            </div>
        </div>
    </div>

    <div class="about section" id="about">
        <div class="wrap">
            <div>
                <h2 class="gold"><%= profile.aboutTitle %></h2>
                <h3><%= profile.aboutSub %></h3>
                <div class="quote">
                    <img src="img/beardman.png">
                    <div>
                        <p><%= profile.aboutText %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offers section" id="offers">
        <div class="wrap">
            <div>
                <h2 class="gold"><%= profile.dealsTitle %></h2>
                <h3><%= profile.dealsSub %></h3>
                <div class="offerblock">
                    <% deals.forEach(function(deal){ %>
                        <div>
                            <h4 class="gold"><%= deal.name %></h4>
                            <ul>
                                <li><%= deal.desc %></li>
                            </ul>
                            <img src="<%= deal.image[0] %>" alt="">
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts section" id="contacts">
        <h2 class="gold"><%= profile.contactsTitle %></h2>
        <h3><%= profile.contactsSub %></h3>
        <iframe class="map" src="https://maps.google.com/maps?q=<%= profile.address %>&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" style="border:0"></iframe>
        <div class="callback">
            <h3><%= profile.contactsText %></h3>
            <% if (lang=="ru") { %> <button class="btn" onclick="opennn()">Позвони мне</button> <% } %>
            <% if (lang=="en") { %> <button class="btn" onclick="opennn()">Call me</button> <% } %>
        </div>
    </div>
    
    <script>
        function opennn(){
            var popup = document.getElementById("overlay");
            popup.classList.add("open");
        }
    </script>

<% include landingfooter %>