<% include ./partials/header %>

<div class="author">
    <div class="selava">
        <%- imgorvid(author.avatar) %>
    </div>
    
    <div>
        <h1><%= author.title %></h1>
        <div class="rating">
            <% if(author.rating > 0) { %>
                <img src="../../../svg/favorite.svg" class="sel" onclick="fav(1)">
            <% } else { %>
                <img src="../../../svg/favorite.svg" onclick="fav(1)">
            <% } if (author.rating >= 1.5) { %>
                <img src="../../../svg/favorite.svg" class="sel" onclick="fav(2)">
            <% } else { %>
                <img src="../../../svg/favorite.svg" onclick="fav(2)">
            <% } if (author.rating >= 2.5) { %>
                <img src="../../../svg/favorite.svg" class="sel" onclick="fav(3)">
            <% } else { %>
                <img src="../../../svg/favorite.svg" onclick="fav(3)">
            <% } if (author.rating >= 3.5) { %>
                <img src="../../../svg/favorite.svg" class="sel" onclick="fav(4)">
            <% } else { %>
                <img src="../../../svg/favorite.svg" onclick="fav(4)">
            <% } if (author.rating >= 4.5) { %>
                <img src="../../../svg/favorite.svg" class="sel" onclick="fav(5)">
            <% } else { %>
                <img src="../../../svg/favorite.svg" onclick="fav(5)">
            <% } %>
            </div>
            <p><%= author.country %>, <%= author.city %>, <%= author.address %></p>
            <p><%= author.desc %></p>
        <p><a href="https://<%= author.website %>" target="_blank"><%= author.website %></a></p>
        <div class="call">
            <a class="mobhide" href="tel:<%= author.phone %>"><%= author.phone %></a>
            <a class="mobhide" target="_blank" href="https://api.whatsapp.com/send?phone=<%= author.phone.replace("+",""); %>"><img src="../svg/whatsapp.svg"></a>
            <a target="_blank" href="https://www.google.com/maps/place/<%= author.city %>,<%= author.address %>" class="butt">Показать на карте</a>
        </div>
    </div>
</div>

<div class="callhim">
    <a id="callbutt" onclick="callhim(0)"><img style="position: relative; bottom: -4px;" src="../../../svg/callhim.svg"></a>
    <a class="callbutt" onclick="callhim(1000)" target="_blank" href="https://api.whatsapp.com/send?phone=<%= author.phone.replace("+",""); %>"><img src="../../../svg/whatsapp-button.svg"></a>
    <a class="callbutt" onclick="callhim(1000)" href="tel:<%= author.phone %>"><img src="../../../svg/call.svg"></a>
</div>

<div class="productsGrid">
    <% products.forEach(function(product) { %>
        <a class="product" href="/products/<%= product._id %>">
            <div class="productInfo">
                <div class="productImg" style="background: url(<%= product.image[0].replace(" ","%20") %>) center/cover no-repeat;"></div>
                <div class="productOverlay">
                    <p><%= product.name %></p>
                </div>
            </div>
            <p class="price"><%= product.price %>₸</p>
        </a>
    <% }); %>
</div>

<%
    function imgorvid(file) {
        var result = file.split(".");
        var ext = result[result.length-1];
        
        if (ext == "jpg" || ext == "png" || ext == "gif" || ext == "jpeg") {
            return "<img src=\"" + file + "\" />";
        } else if (file.includes("youtube")){
            return "<iframe src=" + file + " autoplay=false frameborder=\"0\" allowfullscreen></iframe>";
        } else {
            return "<video width=\"100%\" height=\"100%\" controls><source src=" + file + " type=\"video/mp4\"></video>";
        }
    }
%>

<script>
    function callhim(time) {
        setTimeout(() => {
            $("#callbutt").toggleClass("hid");
            $(".callbutt").toggleClass("show");
        }, time);
    }
    
    function fav(num) {
        var callback =  $.ajax({
            type: "POST",
            url: "/rate",
            data: {
                <% if (currentUser) { %>
                    'whorated': '<%= currentUser.username %>',
                <% } %>
                'torate': '<%= author.username %>',
                'rating': String(num)
            },
            success: function (msg) {
                var response = JSON.stringify(msg.status);
                if(response == 503) { window.location = "/needtosignin"; }
                if(response == 502) { alert("Error!!1!"); }
                if(response == 200) { location.reload() }
            }
        });
    }
</script>

<% include ./partials/footer %>