<% include ../partials/header %>
<% include ../partials/minibar %>

<div class="adminarea">
    <p class="adminh">Редактирование услуги</p>
    <form class="login new" id="addprod" action="/services/<%= product.id %>/?_method=DELETE" method="POST">
        <button style="background: red;" class="btn">Удалить</button>
    </form>
    <br>
    <form class="login new">
        <div class="flash">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
    </form>
    <div class="upload">
        <div>
            <% if(product.image[0]) { %>
                <form class="data uploaded" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form class="data" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } %>
                <img src="../../svg/close.svg" class="close" data-name="firstfile">
                <label for="firstfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                </label>
                <%- getthumb(product.image[0]) %>
                <input id="firstfile" data-name="firstfile" class="filetype" type="file" name="fileToUpload">
                <input type="hidden" name="folder" value="<%= folder() %>">
            </form>
        </div>
        <div>
            <% if(product.image[1]) { %>
                <form class="data uploaded" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form class="data" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } %>
                <img src="../../svg/close.svg" class="close" data-name="secondfile">
                <label for="secondfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                </label>
                <%- getthumb(product.image[1]) %>
                <input id="secondfile" data-name="secondfile" class="filetype" type="file" name="fileToUpload">
                <input type="hidden" name="folder" value="<%= folder() %>">
            </form>
        </div>
        <div>
            <% if(product.image[2]) { %>
                <form class="data uploaded" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form class="data" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } %>
                <img src="../../svg/close.svg" class="close" data-name="thirdfile">
                <label for="thirdfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                </label>
                <%- getthumb(product.image[2]) %>
                <input id="thirdfile" data-name="thirdfile" class="filetype" type="file" name="fileToUpload">
                <input type="hidden" name="folder" value="<%= folder() %>">
            </form>
        </div>
        <div>
            <% if(product.image[3]) { %>
                <form class="data uploaded" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form class="data" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } %>
                <img src="../../svg/close.svg" class="close" data-name="fourthfile">
                <label for="fourthfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                </label>
                <%- getthumb(product.image[3]) %>
                <input id="fourthfile" data-name="fourthfile" class="filetype" type="file" name="fileToUpload">
                <input type="hidden" name="folder" value="<%= folder() %>">
            </form>
        </div>
        <div>
            <% if(product.image[4]) { %>
                <form class="data uploaded" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form class="data" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } %>
                <img src="../../svg/close.svg" class="close" data-name="fifthfile">
                <label for="fifthfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                </label>
                <%- getthumb(product.image[4]) %>
                <input id="fifthfile" data-name="fifthfile" class="filetype" type="file" name="fileToUpload">
                <input type="hidden" name="folder" value="<%= folder() %>">
            </form>
        </div>
        <div>
            <% if(product.image[5]) { %>
                <form class="data uploaded" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form class="data" action="<%= uploadUrl %>" method="POST" enctype="multipart/form-data">
            <% } %>
                <img src="../../svg/close.svg" class="close" data-name="sixthfile">
                <label for="sixthfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                </label>
                <%- getthumb(product.image[5]) %>
                <input id="sixthfile" data-name="sixthfile" class="filetype" type="file" name="fileToUpload">
                <input type="hidden" name="folder" value="<%= folder() %>">
            </form>
        </div>
    </div>
    <form class="login new" id="addprod" action="/services/<%= product.id %>/?_method=PUT" method="POST">
        <input type="hidden" name="firstfile" value="<%= product.image[0] %>">
        <input type="hidden" name="secondfile" value="<%= product.image[1] %>">
        <input type="hidden" name="thirdfile" value="<%= product.image[2] %>">
        <input type="hidden" name="fourthfile" value="<%= product.image[3] %>">
        <input type="hidden" name="fifthfile" value="<%= product.image[4] %>">
        <input type="hidden" name="sixthfile" value="<%= product.image[5] %>">
        
        <input type="text" name="name" placeholder="Название" value="<%= product.name %>">
        <textarea class="form-control" rows="4" type="text" name="desc" placeholder="Описание услуги, цены, длительность и тд"><%= product.desc %></textarea>
        <button class="btn btn-lg btn-primary btn-block">Обновить</button>
        <a href="/services/clear">Отмена</a>
    </form>
</div>

<script>
    function category(th) {
        var cats = <%- JSON.stringify(cats) %>;
        var newhtml = "<option>Подкатегория товара</option>";
        var cur_cat = "<%= product.cat %>";
        var cur_subcat = "<%= product.subcat %>";
        
        cats.forEach(function(cat) {
            if(th == cat.name) {
                cat.sub.forEach(function(subcat){
                    if(cur_subcat == subcat){
                        newhtml += "<option selected>" + subcat + "</option>"; 
                    } else {
                        newhtml += "<option>" + subcat + "</option>"; 
                    }
                });
            } 
        });
        var subcat = document.getElementById("subcat").innerHTML = newhtml;
    }
    
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(() => { category("<%= product.cat %>") }, 300);
    });
</script>
<%
function getthumb(file) {
        if (!file) { file = ""; }
        var result = file.split(".");
        var ext = result[result.length-1];
        
        if (ext == "jpg" || ext == "png" || ext == "gif" || ext == "jpeg") {
            return "<img src=" + file + " class=\"dataImg\">"
        } else {
            return "<img src=\"" + siteurl + "/svg/vid.svg\" class=\"dataImg\">"
        }
    }
%>
<script>
    $(".close").each(function() {
        $(this).on("click", function(){
            $(this.parentNode).removeClass("uploaded");
            $(this.parentNode).find("img.dataImg").attr("src","");
            $("[name='" + $(this).data("name") + "']").attr("value", "");
        });
    });
    
    $(".filetype").each(function(){
        this.onchange = function() {
            var formData = new FormData(this.parentNode);
            var img = $(this.parentNode).find("img.dataImg");
            var add = $(this.parentNode);
            var name = $(this).data("name");
            
            $.ajax({
                url: "<%= uploadUrl %>",
                type: 'POST',
                data: formData,
                crossDomain: true,
                success: function (data) {
                    console.log(data);
                    if(data == "NOT_IMAGE") {
                        $( ".flash" ).append( '<div class="alert alert-danger" role="alert">Загруженный файл не является картинкой!</div>' );
                    } else if (data == "WRONG_TYPE") {
                        $( ".flash" ).append( '<div class="alert alert-danger" role="alert">Файл должен быть в формате JPG, PNG, JPEG или GIF!</div>' );
                    } else if(data == "TOO_LARGE"){
                        $( ".flash" ).append( '<div class="alert alert-danger" role="alert">Размер фото должен быть меньше 10Мб!</div>' );
                    } else {
                        var result = data.split(".");
                        var ext = result[result.length-1];
                        
                        if (ext == "jpg" || ext == "png" || ext == "gif" || ext == "jpeg") {
                            img.attr("src", data);
                        } else {
                            img.attr("src", "<%= url %>/svg/vid.svg");
                        } 
                        $("[name='" + name + "']").attr("value", data);
                        add.addClass("uploaded");
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
    });
</script>

<% include ../partials/footer %>