<% include ../partials/header %>

<div class="toolbar">
    <a href="/admin"><img src="../../../svg/package.svg">Мои Товары</a>
    <a href="/products/new"><img src="../../../svg/add-item.svg">Новый Товар</a>
    <a href="/logout"><img src="../../../svg/logout.svg">Выйти</a>
</div>

<div class="adminarea">
    <p class="adminh">Редактирование</p>
    <form class="login new" id="addprod" enctype="multipart/form-data" action="/products/<%= product._id %>?_method=PUT" method="POST">
        
        <div class="flash">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
    
        <input type="text" name="product[name]" placeholder="Имя Товара" value="<%= product.name %>">
        <select name="product[cat]">
            <option>Категория товара</option>
            <option>Одежда</option>
        </select>
        <select name="product[subcat]">
            <option>Подкатегория товара</option>
            <option>Верхняя Одежда</option>
        </select>
        <div class="upload">
            <div>
                <label for="firstfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="firstfile" type="file" name="product[firstfile]" />
            </div>
            <div>
                <label for="secondfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="secondfile" type="file" name="product[secondfile]" />
            </div>
            <div>
                <label for="thirdfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="thirdfile" type="file" name="product[thirdfile]" />
            </div>
            <div>
                <label for="fourthfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="fourthfile" type="file" name="product[fourthfile]" />
            </div>
            <div>
                <label for="fifthfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="fifthfile" type="file" name="product[fifthfile]" />
            </div>
            <div>
                <label for="sixthfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="sixthfile" type="file" name="product[sixthfile]" />
            </div>
            <div>
                <label for="seventhfile" class="new">
                    <img class="add" src="../../svg/plus.svg">
                    <img class="added" src="../../svg/added.svg">
                </label>
                <input class="filetype" id="seventhfile" type="file" name="product[seventhfile]" />
            </div>
        </div>
        <textarea class="form-control" rows="4" type="text" name="product[desc]" placeholder="Описание"><%= product.desc %></textarea>
        <input class="form-control" type="number" name="product[price]" placeholder="Цена товара" min="0.01" step="0.01" value="<%= product.price %>">
        <button class="btn btn-lg btn-primary btn-block">Добавить товар</button>
        <a href="/products">Назад</a>
    </form>
</div>

<script>
    var slides = document.getElementsByClassName("filetype");
    for(var i = 0; i < slides.length; i++)
    {
        slides.item(i).onchange = function () {
            if(this.files) {
                this.parentNode.classList.add("chosen");
            }
        }
    }
</script>

<% include ../partials/footer %>