<% include ../partials/header %>

<div class="minibar" id="tool">
    <% if (!currentUser) { %>
        <a href="/login"><img src="../../../svg/signin.svg">Войти</a>
        <a href="/register"><img src="../../../svg/add-user.svg">Регистрация</a>
    <% } else { %>
        <a href="/profile"><img src="../../../svg/profile.svg">Мой Профиль</a>
        <a href="/admin"><img src="../../../svg/package.svg">Мои Товары</a>
        <a href="/products/new"><img src="../../../svg/add-item.svg">Новый Товар</a>
        <a href="/logout"><img src="../../../svg/logout.svg">Выйти</a>
    <% } %>
</div>

<div class="productsGrid">
    <% products.forEach(function(product) { %>
        <a class="product" href="/products/<%= product._id %>">
            <div class="productInfo">
                <div class="productImg" style="background: url(<%= product.image[0] %>) center/cover no-repeat;"></div>
                <div class="productOverlay">
                    <p><%= product.name %></p>
                </div>
            </div>
            <p class="price"><%= product.price %>₸</p>
        </a>
    <% }); %>
</div>

<div class="centered" style="position: fixed; bottom: 0; left: 0;">
    <div class="search">
        <form action="/search" method="POST">
            <div class="advanced">
                <select name="country">
                    <option>Kazakhstan</option>
                </select>
                <select name="city">
                    <option>Город</option>
                    <% cities.forEach(function(city) { %>
                        <% if(city.name == q.city) { %>
                            <option selected="selected"><%= city.name %></option>
                        <% } else { %>
                            <option><%= city.name %></option>
                        <% } %>
                    <% }); %>
                </select>
                <select name="bazar">
                    <option>Базар</option>
                    <% bazars.forEach(function(bazar) { %>
                        <% if(bazar.name == q.bazar) { %>
                            <option selected="selected"><%= bazar.name %></option>
                        <% } else { %>
                            <option><%= bazar.name %></option>
                        <% } %>
                    <% }); %>
                </select>
                <select name="type">
                    <% var types = ["В Розницу", "Оптом", "Оптом и в розницу"]; %>
                    <% types.forEach(function(type) { %>
                    <% if(type == q.type) { %>
                        <option selected><%= type %></option>
                    <% } else { %>
                        <option><%= type %></option>
                    <% }}); %>
                </select>
            </div>
            <input type="text" name="query" placeholder="Поиск..." value="<%= q.term %>" autocomplete="new-password">
            <button><img src="svg/search.svg"></button>
            <img class="gear" onclick="advtoggle()" src="svg/internet.svg">
        </form>
    </div>
</div>

<script>
    function advtoggle(){
        $('.advanced').toggleClass('show');
    }
</script>

<% include ../partials/footer %>