<% include ../partials/header %>

<div class="sortbar">
    <form action="/search" method="POST">
        <select name="sort" onchange="this.form.submit()">
            <% var options = ["Самые последние", "Самые первые", "Самые дешевые", "Самые дорогие"];%>
            <% options.forEach(function(option) { %>
                <% if(option == q.sort) { %>
                    <option selected="selected"><%= option %></option>
                <% } else { %>
                    <option><%= option %></option>
                <% } %>
            <% }); %>
        </select>
    </form>
</div>

<div class="productsGrid">
    <% products.forEach(function(product) { %>
        <a class="product" href="/products/<%= product._id %>">
            <div class="productInfo">
                <div class="productImg" style="background: url(<%= product.image[0].replace(" ","%20") %>) center/cover no-repeat;"></div>
                <div class="productOverlay">
                    <p><%= product.name %></p>
                </div>
            </div>
            <p class="price"><%= product.price %>₸</p>
        </a>
    <% }); %>
</div>

<div class="centered" style="position: fixed; bottom: 0; left: 0;">
    <div class="search">
        <form action="/search" method="POST">
            <div class="advanced">
                <select name="country">
                    <option>Kazakhstan</option>
                </select>
                <select name="city">
                    <option>Город</option>
                    <% cities.forEach(function(city) { %>
                        <% if(city.name == q.city) { %>
                            <option selected="selected"><%= city.name %></option>
                        <% } else { %>
                            <option><%= city.name %></option>
                        <% } %>
                    <% }); %>
                </select>
                <select name="bazar">
                    <option>Базар</option>
                    <% bazars.forEach(function(bazar) { %>
                        <% if(bazar.name == q.bazar) { %>
                            <option selected="selected"><%= bazar.name %></option>
                        <% } else { %>
                            <option><%= bazar.name %></option>
                        <% } %>
                    <% }); %>
                </select>
                <select name="type">
                    <% var types = ["Оптом и в розницу", "В Розницу", "Оптом"]; %>
                    <% types.forEach(function(type) { %>
                    <% if(type == q.type) { %>
                        <option selected><%= type %></option>
                    <% } else { %>
                        <option><%= type %></option>
                    <% }}); %>
                </select>
            </div>
            <input type="text" name="query" placeholder="Поиск..." value="<%= q.term %>" autocomplete="new-password">
            <button><img src="svg/search.svg"></button>
            <img class="gear" onclick="advtoggle()" src="svg/internet.svg">
        </form>
    </div>
</div>

<script>
    function advtoggle(){
        $('.advanced').toggleClass('show');
    }
</script>

<% include ../partials/footer %>