<% include ../partials/header %>

<div class="toolbar" id="tool">
    <a href="/admin"><img src="../svg/package.svg">Мои Товары</a>
    <a href="/products/new"><img src="../svg/add-item.svg">Новый Товар</a>
    <a href="/logout"><img src="../svg/logout.svg">Выйти</a>
</div>

<div class="adminarea">
    <p class="adminh">Мои Товары</p>
    <form class="login new" id="addprod" enctype="multipart/form-data" action="/products" method="POST">
        
        <div class="flash">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
    
        <input type="text" name="name" placeholder="Имя Товара" value="<%= fc.name %>">
        <select name="cat" onchange="category(this.value)">
            <option>Категория товара</option>
            <% cats.forEach(function(cat) { %>
            <% if(cat.name == fc.cat) { %>
                <option selected><%= cat.name %></option>
            <% } else { %>
                <option><%= cat.name %></option>
            <% }}); %>
        </select>
        <select id="subcat" name="subcat">
        </select>
        <div class="upload">
            <div>
                <label for="firstfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="firstfile" type="file" name="firstfile" />
            </div>
            <div>
                <label for="secondfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="secondfile" type="file" name="secondfile" />
            </div>
            <div>
                <label for="thirdfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="thirdfile" type="file" name="thirdfile" />
            </div>
            <div>
                <label for="fourthfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="fourthfile" type="file" name="fourthfile" />
            </div>
            <div>
                <label for="fifthfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="fifthfile" type="file" name="fifthfile" />
            </div>
            <div>
                <label for="sixthfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="sixthfile" type="file" name="sixthfile" />
            </div>
            <div>
                <label for="seventhfile" class="new">
                    <img class="add" src="../svg/plus.svg">
                    <img class="added" src="../svg/added.svg">
                </label>
                <input class="filetype" id="seventhfile" type="file" name="seventhfile" />
            </div>
        </div>
        <textarea class="form-control" rows="4" type="text" name="desc" placeholder="Описание"><%= fc.desc %></textarea>
        <input class="form-control" type="number" name="price" placeholder="Цена товара" min="0.01" step="0.01" value="<%= fc.price %>">
        <button class="btn btn-lg btn-primary btn-block">Добавить товар</button>
        <a href="/products">Назад</a>
    </form>
</div>

<script>
    var slides = document.getElementsByClassName("filetype");
    for(var i = 0; i < slides.length; i++)
    {
        slides.item(i).onchange = function () {
            if(this.files) {
                this.parentNode.classList.add("chosen");
            }
        }
    }
    
    function category(th) {
        var cats = <%- JSON.stringify(cats) %>;
        var newhtml = "";
        var cur_subcat = "<%= fc.subcat %>";
        cats.forEach(function(cat) {
           if(th == cat.name) {
               cat.sub.forEach(function(subcat){
                   if(cur_subcat == subcat){
                        newhtml += "<option selected>" + subcat + "</option>"; 
                   } else {
                        newhtml += "<option>" + subcat + "</option>"; 
                   }
               });
           } 
        });
        var subcat = document.getElementById("subcat").innerHTML = newhtml;
    }
    
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(() => { category("<%= fc.cat %>") }, 300);
    });
</script>

<% include ../partials/footer %>