<% include ../partials/header %>

<div class="minibar" id="tool">
    <% if (!currentUser) { %>
        <a href="/login"><img src="../../../svg/signin.svg">Войти</a>
        <a href="/register"><img src="../../../svg/add-user.svg">Регистрация</a>
    <% } else { %>
        <a href="/profile"><img src="../../../svg/profile.svg">Мой Профиль</a>
        <a href="/admin"><img src="../../../svg/package.svg">Мои Товары</a>
        <a href="/products/new"><img src="../../../svg/add-item.svg">Новый Товар</a>
        <a href="/logout"><img src="../../../svg/logout.svg">Выйти</a>
    <% } %>
</div>

<div class="centered">
    <div class="showroom">
        <div class="slid">
            <a class="next" onclick="next()">
                <img src="../svg/right.svg">
            </a>
            <a class="prev" onclick="prev()">
                <img src="../svg/left.svg">
            </a>
            <div id="myslider" class="main" data-simple-slider>
                <% product.image.forEach(function(img) { %>
                    <img src="<%= img %>"/>
                <% }); %>
            </div>
            
            <div class="small-slides">
                <% var index = 0; %>
                <% product.image.forEach(function(img) { %>
                    <div>
                        <img src="<%= img %>" onclick="setSlide(<%= index %>);">
                    </div>
                <% index++; }); %>
            </div>
        </div>
        <div class="showdesc">
            <div class="delrow">
                <h1><%= product.name %></h1>
                <% if(currentUser && product.author.id.equals(currentUser._id)) { %>
                    
                    <form class="inlineform" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                        <button><img src="../svg/delete.svg"></button>
                    </form>
                    <a href="/products/<%= product._id %>/edit"><img src="../svg/edit.svg"></a>
                <% } %>
            </div>
            <p>Цена: <%= product.price %>₸</p>
            <p>Категория: <%= product.cat %>, <%= product.subcat %></p>
            <p>Продавец: <a href="/seller/<%= product.author.username %>"><%= product.author.username %></a></p>
            <p>Адрес: <%= product.author.id.city %>, <%= product.author.id.address %></p>
            <p>Описание: <%= product.desc %></p>
            <div class="call">
                <a href="tel:<%= product.author.id.phone %>"><%= product.author.id.phone %></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=<%= product.author.id.phone.replace("+",""); %>"><img src="../svg/whatsapp.svg"></a>
            </div>
            <p>Поделиться:</p>
            <div class="share">
                <a target="_blank" href="http://www.facebook.com/sharer.php?u=https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/facebook.svg"></a>
                <a target="_blank" href="http://vkontakte.ru/share.php?url=https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/vk.svg"></a>
                <a target="_blank" href="mailto:?Subject=<%= product.name %>&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/email.svg"></a>
                <a target="_blank" href="https://twitter.com/share?url=https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/twitter.svg"></a>
            </div>
        </div>
    </div>
</div>


<div class="centered">
    <iframe src="https://maps.google.com/maps?q=<%= mapq %>&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!--div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Bazarlar</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= product.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= product.price %>/night</h4>
                    <h4><a><%= product.name %></a></h4>
                    <p><%= product.description %></p>
                    <p><em>Submitted by <%= product.author.username %></em></p>
                    <% if(currentUser && product.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/products/<%= product._id %>/edit">Edit</a>
                        <form class="inlineform" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/products/<%= product._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% product.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a href="/products/<%=product._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
                                <form class="inlineform" action="/products/<%=product._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div-->

<script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
 <script>
   var slider = simpleslider.getSlider({
     paused: true
   });
    var isNext = true;
    var sliderElem = document.getElementById('myslider');
    
    var manager = new Hammer.Manager(sliderElem);
    var Swipe = new Hammer.Swipe();

    manager.add(Swipe);

    manager.on('swipeleft', function() {
      if (isNext) {
        slider.reverse();
        isNext = false;
      }
      slider.next();
    });

    manager.on('swiperight', function() {
      if (!isNext) {
        slider.reverse();
        isNext = true;
      }
      slider.next();
    });
    
    function setSlide(index){
      slider.change(index);
    }
    
    function next(){
      slider.next();
      console.log("done");
    }
    
    function prev() {
      slider.prev();
    }
  </script>
<% include ../partials/footer %>