<% include ../partials/header %>
<% include ../partials/minibar %>

<div class="centered">
    <div class="showroom">
        <div class="slid">
            <a class="next" onclick="next()">
                <img src="../svg/right.svg">
            </a>
            <a class="prev" onclick="prev()">
                <img src="../svg/left.svg">
            </a>
            <div id="myslider" class="main" data-simple-slider>
                <% product.image.forEach(function(img) { %>
                    <div class="slidewrap">
                        <img src="<%= img %>"/>
                    </div>
                <% }); %>
                <div class="slidewrap">
                    <iframe src="https://www.youtube.com/embed/HjokxE9ntQI?modestbranding=1&autohide=1&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            
            <div class="small-slides">
                <% var index = 0; %>
                <% product.image.forEach(function(img) { %>
                    <div>
                        <img src="<%= img %>" onclick="setSlide(<%= index %>);">
                    </div>
                <% index++; }); %>
            </div>
        </div>
        <div class="showdesc">
            <div class="delrow">
                <h1><%= product.name %></h1>
                <% if(currentUser){ var fava = {status:false}; user.faved.forEach(function(favItem){ if(favItem._id.equals(product._id)) { %>
                    <img src="../svg/like.svg" onclick="fav('<%= product._id %>')" class="like liked">
                <% fava.status = true; }}); if(!fava.status){ %>
                    <img src="../svg/like.svg" onclick="fav('<%= product._id %>')" class="like">
                <% }} %>
                
                <% if(currentUser && product.author.id.equals(currentUser._id)) { %>
                    <form class="inlineform" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                        <button><img src="../svg/delete.svg"></button>
                    </form>
                    <a href="/products/<%= product._id %>/edit"><img src="../svg/edit.svg"></a>
                <% } %>
            </div>
            <p>Цена: <%= product.price %>₸</p>
            <p><%= product.type %></p>
            <p>Категория: <%= product.cat %>, <%= product.subcat %></p>
            <p>Продавец: <a href="/seller/<%= product.author.username %>"><%= product.author.username %></a></p>
            <p>Адрес: <%= product.author.id.city %>, <%= product.author.id.address %></p>
            <p>Описание: <%= product.desc %></p>
            <div class="call">
                <a href="tel:<%= product.author.id.phone %>"><%= product.author.id.phone %></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=<%= product.author.id.phone.replace("+",""); %>"><img src="../svg/whatsapp.svg"></a>
            </div>
            <p>Поделиться:</p>
            <div class="share">
                <a target="_blank" href="http://www.facebook.com/sharer.php?u=https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/facebook.svg"></a>
                <a target="_blank" href="http://vkontakte.ru/share.php?url=https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/vk.svg"></a>
                <a target="_blank" href="mailto:?Subject=<%= product.name %>&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/email.svg"></a>
                <a target="_blank" href="https://twitter.com/share?url=https://www.bazarlar.kz/products/<%= product._id %>"><img src="../svg/twitter.svg"></a>
            </div>
        </div>
    </div>
</div>

<div class="centered">
<% if(currentUser && product.author.id.equals(currentUser._id)) { %>
    <form class="topform" action="/products/top" method="POST">
        <input type="hidden" name="product" value="<%= product._id %>">
        <input type="submit" value="Поднять в топ за 200тг">
    </form>
<% } %>
</div>

<div class="centered">
    <iframe class="map" src="https://maps.google.com/maps?q=<%= mapq %>&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0"></iframe>
</div>
<script>
   var slider = simpleslider.getSlider({
     paused: true
   });
    var isNext = true;
    var sliderElem = document.getElementById('myslider');
    
    var manager = new Hammer.Manager(sliderElem);
    var Swipe = new Hammer.Swipe();

    manager.add(Swipe);

    manager.on('swipeleft', function() {
      if (isNext) {
        slider.reverse();
        isNext = false;
      }
      slider.next();
    });

    manager.on('swiperight', function() {
      if (!isNext) {
        slider.reverse();
        isNext = true;
      }
      slider.next();
    });
    
    function setSlide(index){ slider.change(index); }
    function next() { slider.next(); }
    function prev() { slider.prev(); }
    
    function fav(prod_id) {
        var callback =  $.ajax({
            type: "POST",
            url: "/fav",
            data: {
                <% if (currentUser) { %>
                    'whofaved': '<%= currentUser.username %>',
                <% } %>
                'tofav': `<%= product._id %>`
            },
            success: function (msg) {
                var response = JSON.stringify(msg.status);
                //alert(response);
                if(response == 200) { $('.like').toggleClass('liked'); }
                if(response == 404) { windows.location = "/needtosignin"; }
            }
        });
    }
  </script>
<% include ../partials/footer %>