<% include ../partials/header %>
<% include ../partials/minibar %>

<div class="adminarea">
    <p class="adminh">Основная информация на сайте</p>
    <a style="display: flex; margin-bottom: 1.5rem;" href="/">Просмотреть изменения</a>
    <form class="login new">
        <div class="flash">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
    </form>
    <form class="login new" method="POST" action="/profile">
        <label for="user">Логин</label><input id="user" type="text" name="username" placeholder="Логин" value="<%= user.username %>">
        <label for="email">E-mail</label><input type="email" name="email" placeholder="E-mail" value="<%= user.email %>">
        <label for="address">Адрес</label><input id="address" type="text" name="address" placeholder="Адрес" value="<%= user.address %>">
        <label for="title">Название салона</label><input id="title" type="text" name="title" placeholder="Название салона" value="<%= user.title %>">
        <label for="phone">Телефон салона</label><input id="phone" type="text" name="phone" placeholder="Сотовый" value="<%= user.phone %>">
        <label for="desc">Главное описание</label><input id="desc" type="text" name="desc" placeholder="Описание" value="<%= user.desc %>">
        <label for="subdesc">Описание под главным</label><input id="subdesc" type="text" name="subdesc" placeholder="Под описанием" value="<%= user.subdesc %>">
        <button>Обновить информацию</button>
    </form>
</div>

<%
function getthumb(file) {
        var result = file.split(".");
        var ext = result[result.length-1];
        
        if (ext == "jpg" || ext == "png" || ext == "gif" || ext == "jpeg") {
            return "<img src=" + file + " class=\"dataImg\">"
        } else {
            return "<img src=\"" + siteurl + "/svg/vid.svg\" class=\"dataImg\">"
        }
    }
%>
<script>
    $(".close").each(function() {
        $(this).on("click", function(){
            $(this.parentNode).removeClass("uploaded");
            $(this.parentNode).find("img.dataImg").attr("src","");
            $("[name='" + $(this).data("name") + "']").attr("value", "");
        });
    });
    
    $(".filetype").each(function(){
        this.onchange = function() {
            var formData = new FormData(this.parentNode);
            var img = $(this.parentNode).find("img.dataImg");
            var add = $(this.parentNode);
            var name = $(this).data("name");
            
            $.ajax({
                url: "https://mangi.kz/upload.php",
                type: 'POST',
                data: formData,
                crossDomain: true,
                success: function (data) {
                    console.log(data);
                    if(data == "NOT_IMAGE") {
                        $( ".flash" ).append( '<div class="alert alert-danger" role="alert">Загруженный файл не является картинкой!</div>' );
                    } else if (data == "WRONG_TYPE") {
                        $( ".flash" ).append( '<div class="alert alert-danger" role="alert">Файл должен быть в формате JPG, PNG, JPEG или GIF!</div>' );
                    } else if(data == "TOO_LARGE"){
                        $( ".flash" ).append( '<div class="alert alert-danger" role="alert">Размер фото должен быть меньше 10Мб!</div>' );
                    } else {
                        var result = data.split(".");
                        var ext = result[result.length-1];
                        
                        if (ext == "jpg" || ext == "png" || ext == "gif" || ext == "jpeg") {
                            img.attr("src", data);
                        } else {
                            img.attr("src", "<%= url %>/svg/vid.svg");
                        } 
                        $("[name='" + name + "']").attr("value", data);
                        add.addClass("uploaded");
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
    });
</script>

<% include ../partials/footer %>